<div class="nav-items">
  <a href="/home" class="nav-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Dashboard</span>
  </a>
  <a href="/results" class="nav-item">
    <fa-icon [icon]="faSquarePollVertical"></fa-icon>
    <span>Results</span>
  </a>
  <a href="/schedule" class="nav-item">
    <fa-icon [icon]="faCalendarDays"></fa-icon>
    <span>Schedule</span>
  </a>
  <a href="/profile" class="nav-item">
    <fa-icon [icon]="faUser"></fa-icon>
    <span>Profile</span>
  </a>
</div>
