.form-group {
  margin-bottom: 0.75rem;
}

.logo {
  width: 100%;
  max-width: 350px;
  background-color: #113c60;
}

.signLink{
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    cursor: pointer;
    color: blue;
  }
}

