<div class="container middle-section" *ngIf="user && profile">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-danger m-3" *ngIf="showAlert" role="alert" style="text-align: center;">
                {{alertMessage}}
            </div>
            <div class="alert alert-success m-3" *ngIf="isConfirm" role="alert" style="text-align: center;">
                {{alertMessage}}
            </div>

            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                  
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="preferred_username" [(ngModel)]="profile.preferred_username"> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" name="email" [(ngModel)]="profile.email">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" name="given_name" [(ngModel)]="profile.givenName">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">Surname</label>
                                    <input type="text" class="form-control" name="familyName" [(ngModel)]="profile.familyName">
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" class="form-control" [value]="profile.description" name="description" [(ngModel)]="profile.description"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-info btn-fill mt-4" (click)="updateProfile()">Update Profile</button>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" style="width: 100%;" alt="Profile Logo"/>
                </div>
                <div class="content">
                    <div class="author">
                        <a href="#" style="text-decoration: none;">
                            <img class="avatar border-gray" src="assets/icons/profile.png" style="background-color: white;"alt="..."/>

                            <h4 class="title">{{profile.givenName}} {{profile.familyName}}<br />
                                <small>{{profile.preferred_username}}</small>
                            </h4>
                        </a>
                    </div>
                    <p class="description text-center"><br>{{profile.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

