<div class="container middle-section" *ngIf="user">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" placeholder="Username" name="preferred_username" [(ngModel)]="user.preferred_username"> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!--
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name" name="given_name" [(ngModel)]="user.attributes.given_name">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">Surname</label>
                                    <input type="text" class="form-control" placeholder="Surname" name="familyName" [(ngModel)]="user.familyName">
                                </div>
                            </div>
                            -->
                        </div> 
                        
                        
                        <button type="submit" class="btn btn-info btn-fill mt-4" (click)="updateProfile()">Update Profile</button>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" style="width: 100%;" alt="Profile Logo"/>
                </div>
                <div class="content">
                    <div class="author">
                        <a href="#" style="text-decoration: none;">
                            <img class="avatar border-gray" src="assets/icons/profile.png" style="background-color: white;"alt="..."/>

                            <h4 class="title">Ethan De Guzman<br />
                                <small>ethan.deguzman</small>
                            </h4>
                        </a>
                    </div>
                    <p class="description text-center"><br>Description here</p>
                </div>
            </div>
        </div>
    </div>
</div>

