.middle-section {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }
}

.card{
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),0 0 0 1px rgba(63,63,68,.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
      
  .image{
      width: 100%;
      overflow: hidden;
      height: 260px;
      border-radius: 4px 4px 0 0;
      position: relative;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    
      img {
          width: 100%;
      }
  }
  .content{
      padding: 15px 15px 10px 15px;
  }
  .header{
      padding: 15px 15px 0;
  }
  .category,
  label{
      font-size: 14px;
      font-weight: 400;
      color: #9A9A9A;
      margin-bottom: 0px;
      
      i{
          font-size: 16px;
      }
  }
  
  label{
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
  }

  .title{
      margin: 0;
      color: #333333;
      font-weight: 300;
  }
  .avatar{
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
  }
  .description{
      font-size: 14px;
      color: #333;
  }
  .author{
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .author i{
      font-size: 14px;
  }
  h6{
      font-size: 12px;
      margin: 0;
  }
  &.card-separator:after{
      height: 100%;
      right: -15px;
      top: 0;
      width: 1px;
      background-color: #DDDDDD;
      content: "";
      position: absolute;
  }
  
}
.card-user{
  .image{
      height: 110px;
  }
  .image-plain{
      height: 0;
      margin-top: 110px;
  }
  .author{
      text-align: center;
      text-transform: none;
      margin-top: -70px;
  }
  .avatar{
      width: 124px;
      height: 124px;
      border: 5px solid #FFFFFF;
      position: relative;
      margin-bottom: 15px;
      
      &.border-gray{
          border-color: #EEEEEE;
      }
  }
  .title{
      line-height: 24px;
  }
  .content{
      min-height: 240px;
  }
}

.card-user,
.card-price{
  .footer{
      padding: 5px 15px 10px;
  }
  hr{
      margin: 5px 15px;
  }
}
.card-plain{
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  
  .image{
      border-radius: 4px;
  }
}