<div class="container" *ngIf="user">
	<div class="d-flex justify-content-center h-100">

		<div class="card" *ngIf="!isForgotPassword">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
          <div class="alert alert-danger m-3" *ngIf="showAlert" role="alert" style="text-align: center;">
            {{alertMessage}}
          </div>

					<form>
            <div class="form-group">
              <label class="form-label" for="email"><i class="bi bi-person-circle"></i> Email Address</label>
              <input type="email" placeholder="Email Address" class="form-control form-control-lg" name="email" [(ngModel)]="user.email" required/>
            </div>
            
            <div class="form-group">
              <label class="form-label" for="password"><i class="bi bi-lock-fill"></i> Password</label>
              <input type="password" placeholder="Password" class="form-control form-control-lg" name="password" [(ngModel)]="user.password" required/>
            </div>
            
            <div class="row mt-3">
              <div class="col-6">
                <div class="text-left"><button type="button"
                          class="btn btn-secondary btn-sm"
                          style="width: 100%;" (click)="forgotPasswordClicked()">
                          <small>Forgot Password?</small></button></div>
              </div>
              <div class="col-6">
                <div class="text-left"><button type="submit"
                  id="login"
                  class="btn btn-primary btn-sm"
                  style="width: 100%;" (click)="signIn()">
                  <small>Login</small></button>
                </div>
              </div>
            </div>
          </form>
			</div>
			<div class="card-footer">
        <div class="d-flex justify-content-center reglink">
          <a routerLink="/register" tabindex="0">Don't have an account? Click here to create one!</a>
        </div>
			</div>
		</div>

    <div class="card" *ngIf="isForgotPassword">
      <div class="card-header">
				<h3>Account Recovery</h3>
			</div>
      <div class="card-body">
        <div class="alert alert-danger m-3" *ngIf="showAlert" role="alert" style="text-align: center;">
          {{alertMessage}}
        </div>
        <h4 style="color: green">A verification code has been sent to {{user.email}}</h4>

        <input type="text" placeholder="Verification Code" class="form-control form-control-md" name="code" [(ngModel)]="user.code" required/>
        <input type="password" placeholder="New Password" class="form-control form-control-md mt-3" name="password" [(ngModel)]="newPassword" required/>
  
        <button (click)="newPasswordSubmit()" class="btn btn-primary mt-3">Submit New Password</button>
      </div>
    </div>

	</div>
</div>

