<div class="container middle-section">
    <div class="row">
        <div class="col-md-12 text-center text-black">
            <div class="error-template">
                <h1 class="display-1 fw-bold">404</h1>
                <h2 class="fw-bold"> <span class="text-danger">Oops!</span> Page not found.</h2>
                <div>
                    Sorry, an error has occured, The page you're looking for does not exist!
                </div>
                <div class="mt-4">
                    <a routerLink="/home" routerLinkActive="active" style="margin-left: 1em;" class="btn btn-primary btn-lg">
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>